# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Python cache/tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/